@model TimeManagementSystem.Models.User

@{ 
    ViewBag.Title = "Добавление пользователя";
}
<!DOCTYPE HTML>
<html>
<body>
    <form asp-action="Create" asp-controller="Home">
        <div class="form-group">
            <label asp-for="UserName" class="custom-control-label">Имя</label>
            <input type="text" asp-for="UserName" class="form-control"/>
        </div>
        <div class=" form-group">
            <label asp-for="UserAge" class="custom-control-label">Возраст</label>
            <input type="number" asp-for="UserAge" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отпрвить" class="btn" />
        </div>

    </form>
</body>
</html>
