@model IEnumerable<TimeManagementSystem.Models.User>

@{
    ViewBag.Title = "Все пользователи";
}

<a asp-action="Create"> Добавить Пользователя</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Возраст</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.UserAge.</td>
        </tr>
    }

</table>